################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/TimewaxSync/TimewaxSync_1_TemporaryKey.pfx
/TimewaxSync/bin
/TimewaxSync/obj
